.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  width: 525px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  align-self: center;
  margin: 30px auto 58px;
  padding: 10px 54px 10px 52px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 117px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: -28px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-right: 28px;
    margin-left: -28px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -28px;
    margin-right: -28px;
  }
}